.container{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);
  overflow: hidden;
  gap: 10px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}


.table-actions{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}


#add-btn{
  background-color: rgb(123, 123, 243);
  color: white;
  padding: 20px;
  border: 0px;
  font-size: 1rem;
}

.search-input {
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.2);
}

.table-wrapper{
  flex: 1;
  overflow-y: auto;
}

.device-table{
  border-collapse: collapse;
  width: 100%;
}

.device-table th:nth-child(1) { width: 30%; } /* Name */
.device-table th:nth-child(2) { width: 10%; } /* Type */
.device-table th:nth-child(3) { width: 15%; } /* Manufacturer */
.device-table th:nth-child(4) { width: 15%; } /* Current User */
.device-table th:nth-child(5) { width: 30%; } /* Actions */

.device-table th{
  position: sticky;
  top: 0;
  background-color: rgb(123, 123, 243);
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px;
  text-align: left;
}

.device-table td{
  padding: 16px 20px;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
}

.action-buttons button {
  width: 90px;
  height: 100%;
}

.action-buttons #delete{
  background-color: rgb(216, 115, 115);
}

#no-action-text{
  color: #999;
  font-style: italic;
}

.unassign-btn{
  background-color: rgb(189, 189, 189);
}

.unassigned-text{
  color: grey;
  font-style: italic;
}

.no-results{
  text-align: center;
  color: grey;
  font-style: italic;
}
