.details-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.description-field{
  grid-column: span 2;
}

.field-info{
  padding-left: 5px;
  font-size: 0.9rem;
  color: rgb(110, 110, 110);
}

#close-btn{
  grid-column: span 2;
  justify-self: center;
  width: 30%;
  height: 30px;
  background-color: transparent;
}
