.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  margin-bottom: 2rem;
}

.nav-logo {
  margin: 0;
  font-size: 1.5rem;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome-msg {
  font-size: 0.95rem;
  color: #515151;
}

button {
  color: white;
  padding: 6px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
}

